/* STAR */

.product__rating {
  position: relative;
  display: inline-flex;
}

.product__rating-star {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  --star-width: calc(88px / 5 * var(--star-count));
  clip: rect(0 var(--star-width) var(--star-width) 0);
}

/* CHECKOUT-PAGE */

.details__name {
  width: 100px;
  margin-right: 20px;
}